body {
  margin:0%;
  padding:0%;
  background: black;
}
h1, p {
  font-family: Lato;
}
ul {
  padding: 0;
  margin:10px 0 0 0;
}
li {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  background-color:rgba(61, 120, 175, 0.411);
  border-radius: 10px;
}
form {
  margin: 10px;
}